.form{
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
    padding: 10px;
}
.form input{
    width: 90%;
    height: 40px;
    border: 2px solid gray;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}
.form label{
    margin: 0 5%;
}